<div class="main">
  <div class="header">
    clother
  </div>

  <div class="middle">
    <div class="image"></div>
    <div class="pitch">
      <a href="" class="button">get started</a>
    </div>
  </div>
</div>
