maA<div class="main">
  <div class="header">
    clother
  </div>

  <div class="middle">
    <div class="shop">
      <a href='/shop'>shop</a>
    </div>
    <div class="play">
      <a href='/users/sign_in'>play</a>
    </div>
  </div>
</div>
