<div class="wrapper">

  <%= render "navbar" %>

  <div class="divider1">
  </div>

  <div id="polaroid">
    <div class="divider2">
    </div>

    <div id="game-photo">
    </div>

     <div class="divider3">
     </div>

    <div class="vote">
      <div class="hate">
        <%= image_tag("t.gif", :class => "gif") %>
        Not a fan...
      </div>
      <div class="love">
        <%= image_tag("t.gif", :class => "gif") %>
        I like this!</div>
    </div>

     <div class="divider4">
    </div>
  </div>
</div>
