Clother

<div id="game-photo">

</div>

<div class="vote">
  <img src="<%= s3_path('ilikeit_x.jpg') %>" alt="love" id="love"/>
  <img src="<%= s3_path('notmything_x.jpg')%>" alt="hate" id="hate"/>
</div>
