<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>We're so glad to have you, <%= @user.email %>.</h1>

    <p>No time to chat - clothing awaits! <%= link_to "Sign in", @url %> to get started :D</p>

    <p>As always, feel free to email us with questions, concerns, suggestions, etc.</p>

    <p>Clother (clother.me@gmail.com)</p>
  </body>
</html>
