<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "photos" %>
  </head>

  <body>
    <% @photos.each do |photo| %>
    <div class="show-photo">
      <a href=<%="/photos/#{photo.id}"%>>
        <img src="<%= s3_path(photo.file) %>" alt="Oops! We can't find this image :("/>
      </a>
      <% photo.tags.each do |p| %>
      <%= "#{p.name} " %>
      <% end %>
    </div>
    <% end %>
  </body>
</html>
