<h1>Add a Photo</h1>

<form name="photo" method="post" action="/photos" enctype="multipart/form-data">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <label for="photo_file"></label>
  <input  type="file" name="photo_file">

  <br />

  <% @tags.each do |tag| %>
  <label for="tag"><%= tag.name %></label>
  <input  type="checkbox" name="tag<%= tag.id %>" value="<%= tag.id %>"><br />
  <% end %>

  <input type="submit" value="Submit">

</form>
