.wrapper {
  font-family: Gotham;
  color: white;
}

.divider1 {
  height: 25px;
}

#polaroid {
  width: 95%;
  display: block;
  margin: auto;
  background-color: rgb(244, 240, 236);
  height: 930px;
  border-radius: 6px;
  -webkit-box-shadow: 0 8px 4px -6px black;
	-moz-box-shadow: 0 8px 4px -6px black;
	box-shadow: 0 8px 4px -6px black;
}

.divider2 {
  height: 4%;
}

#polaroid #game-photo {
  width: 93%;
  display: block;
  margin: auto;
  height: 76%;
  border-radius: 6px;
  border: 5px solid rgb(223, 213, 203);
  overflow: hidden;
}

#polaroid #game-photo img {
  width: 100%;
}

.divider3 {
  height: 2%;
}

.divider4 {
  height: 4%;
}

.vote {
  width: 93%;
  display: block;
  margin: auto;
  height: 14%;
}

.gif {
  width: 1px;
  height: 100%;
  vertical-align: middle;
}

.vote .love, .vote .hate {
  height: 100%;
  border-radius: 7px;
  width: 47.5%;
  font-size: 48px;
  text-align: center;
  border: 5px solid rgb(223, 213, 203);
  -webkit-box-shadow: inset 0 8px 3px -6px black;
	-moz-box-shadow: inset 0 8px 3px -6px black;
	box-shadow: inset 0 8px 3px -6px black;
}

.vote .hate {
  background-color: rgb(147, 75, 78);
  float: left;
}

.vote .love {
  background-color: rgb(163, 177, 99);
  float: right;
}
