body {
  font-size: 12pt;
}

.main {
}

.header {
  font-size: 13em;
  color: #FF0700;
  font-weight: bold;
  text-align: center;
}

.middle {
  height: 25em;
  width: 37em;
  margin: auto;
  border-radius: .25em;
  margin-top: 2em;
  background-color: #CE0071;
}

.middle div.image {
  width: 15em;
  height: 23em;
  background-color: black;
  border-radius: .25em;
  margin: 1em;
  position: absolute;
  float: left;
}

.middle div.pitch {
  width: 19em;
  height: 23em;
  float: right;
  margin: 1em;
  background-color: white;
}
