body {
  font-size: 12pt;
}

.main {
}

.header {
  font-size: 13em;
  color: #FF0700;
  font-weight: bold;
  text-align: center;
}

.middle {
  margin: auto;
  width: 43em;
}

.middle div.shop, .middle div.play {
  width: 20em;
  height: 20em;
  border: solid 1em #CE0071;
  border-radius: .25em;
}

.middle div.shop {
  position: absolute;
  float: left;
}

.middle div.play {
  float: right;
}
